/* Titles -> font-family: 'Hind', sans-serif; */
/* Texts -> font-family: 'Roboto', sans-serif; */

/* Glass efect */

.glassmorphism-effect {
  background: rgba( 18, 94, 138, 0.20 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.0px );
  -webkit-backdrop-filter: blur( 2.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


/* Main Section */
.container-fluid {
  background: radial-gradient(circle, rgba(18,94,138,1) 35%, rgba(32,75,87,1) 100%);
  border-radius: 40px;
  box-shadow: 10px 10px 30px 5px rgba(32,75,87,1);
  height: 1000px;
  margin: 50px;
  width: 1249px!important;
}

.ctn-sidebar {
  height: 1000px;
  width: 106px;
}

.sidebar-links{
  list-style: none;
  padding-top:400px ;
}

.sd-logo {
  color:#8a716a;
  height: 100px;
  width: 100px;
  padding: 25px;
}

.ctn-main-chart {
  background-image: linear-gradient(to right bottom, #204b57, #145064, #055573, #005981, #0f5c8f);
  border-radius: 40px;
  height: 350px;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
  width: 950px;
}

.ctn-main-chart canvas {
  color: #C2B8B2;
  font-size: 18px;
}

.ctn-charts {
  background-image: linear-gradient(to right bottom, #204b57, #145064, #055573, #005981, #0f5c8f);
  border-radius: 40px;
  height: 230px;
  width: 950px;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

.ctn-others-charts {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
  height: 230px;
  width: 950px;
}

.ctn-chartA{
  background-image: linear-gradient(to right bottom, #197bbd, #1574b0, #136ca3, #126596, #125e8a);
  border-radius: 40px;
  margin: auto;
  height: 220px;
  width: 260px;
}

.ctn-chartB{
  background-image: linear-gradient(to right bottom, #197bbd, #1574b0, #136ca3, #126596, #125e8a);
  border-radius: 40px;
  margin: auto;
  height: 180px;
  width: 260px;
}

.ctn-chartC {
  background-image: linear-gradient(to right bottom, #197bbd, #1574b0, #136ca3, #126596, #125e8a);
  border-radius: 40px;
  margin: auto;
  height: 190px;
  width: 260px;
}